@import 'variables';

.collapse-content {
    background-color: white;
    box-shadow: 0 0 3px grey;
    border-radius: 3px;
    display: none;
    flex-direction: column;
    min-width: 150px;
    a {
        display: block;
        padding: .7em;
        font-size: .7em;
        color:black;
        text-decoration: none;
        &:hover {
            background-color: #e7e8e9;  
        }
        &.danger{
            color:red;
            box-shadow: 0px -1px 1px grey;
        }
        & > .fa, .fas{
            margin-right: .5em;
        }
    }
}

.collapse-btn {
    border-radius: 45%;
    border: none;
    width: 100%;
    font-size: .7em;
    background-color: #f7b85a;
    transition: background-color $fade-animation-time ease-in-out;
}

.collapsable {
    display: flex;
    vertical-align: middle;
    width: $header-items-size;
    &:hover > .collapse-content {
        display:flex;
    }
    &:hover > .collapse-btn {
        background-color: #dfe0df;
    }
}