@import 'variables';
@import 'collapse';

header {
    background-color: white;
    box-shadow: 0px 0px 5px black;
    display: flex;
    width: 100%;
    position:relative;
    z-index:5;
    padding:$header-padding;
    justify-content: space-between;
    & > * {
        margin: auto 0;
        height: $header-items-size;
    }
}


.title {
    font-weight: bold;
    display: flex;
    width: 50%;
    align-items: center;
    & * {
        margin-block-end: 0;
        margin-block-start: 0;
        font-size: 1.3em;
        white-space: nowrap;
    }
    & a {
        display:inline-block;
        text-decoration: none;
        color:#f7b85a;
        margin: 0 .2em;
    }
}

.search-nav {
    display: flex;
    justify-content: center;
    width:65%;
    & > .btn-icon{
        margin:0;
    }
}

.input-search {
    border-radius: 5px 0 0 5px;
    border: 2px solid #efefef;
    width:60%;
    padding: 0 1em;
    font-size: .6em;
    box-shadow: 0px 0px 1px grey;
    transition: border-color $fade-animation-time ease-in-out;
    &:focus{
        outline: none;
        border: 2px solid rgb(40, 125, 221);
    };
}

.btn-search {
    box-shadow: 0px 0px 1px grey;
    border:none;
    border-radius: 0 5px 5px 0;
    background-color: #efefef;
    color:black;
    margin-left: 0;
    transition: background-color $fade-animation-time ease-in-out;
    &:hover {
        background-color: rgb(214, 214, 214);
    }
}

.btn-icon {
    background: none;
    border: none;
    color: grey;
    margin:0 1em;
    &:hover {
        color:black;
    }
}

.user-nav {
    display: flex;
    width:50%;
    justify-content: flex-end;
    & .collapse-content {
        position: fixed;
        right: $header-padding;
        top: $header-items-size+$header-padding;
    }
}