* {
    box-sizing: border-box;
}

body {
    font-size: 23px;
    font-weight: 800;
    margin: 0;
    font-family: Consolas, -apple-system;
}

.fa, .fas {
    font-size: 1em;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color:black;
}

.scroll-y {
    &::-webkit-scrollbar {
        width:5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(131, 129, 129);        
        border-radius: 3px;
    }
}