@media (max-width:650px) {
    .title {
        display: none;
    }
    .search-nav {
        width: 100%;
    }
}
@media (max-width:900px) {
    .grid-container {
        grid-template-columns: $side-panel-width-truncated 1fr;
    }
    .main-panel {
        width: calc(100vw - #{$side-panel-width-truncated});
    }
    .users-list {
        height: calc(100vh - #{$header-size});
        & .online, .profile-label {
            display: none;
        }
        & > a {
            justify-content: center;
        }
    }
    .info-panel {
        display: none;
    }
}