.side-panel {
    background-color: #ebebeb;
}

.info-panel {
    height: $info-panel-size - $info-panel-margin * 2;
    margin: $info-panel-margin;
    background-color: #dfdfdf;
    padding: .2em;
    & p { 
        margin: .5em;
        text-align: center;
        font-size: .7em;
        &::selection{
            color:white;
            background-color: #f7b85a;
        }
    }
}

.contact-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > a {
        display:block;
        text-decoration: none;
        color:rgb(131, 129, 129);
        margin:0 .5em;
        transition: color $fade-animation-time ease-in-out;
        &:hover {
            color:#00a2ff;
        }
    }
}

.users-list {
    overflow-y: overlay;
    height: calc(100vh - #{$header-size} - #{$info-panel-size});
    scroll-behavior: smooth;
    border-bottom: 1px solid white;
    & a { 
        display: flex;
        text-overflow: ellipsis;
        padding: $margin-top-from-header .5em;
        align-items: center;
        & * {
            margin: 0 .2em;
            font-size: .7em;
        }
    }
    & a:hover {
        background-color: #dfdfdf;
    }
}

.avatar-mini {
    border-radius: 100%;
    background-color: white;
    height: 2em;
    width: 2em;
}

.profile-label {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
    min-width: 0;
    &:hover {
        color:blue;
    }
}

.online {
    align-items: center;
    flex-grow:1;
    display:flex;
    justify-content: flex-end;
    & > * {
        display: inline-block;
    }
}

.online-pulse {
    background-color: red;
    width: .5em;
    padding-bottom:.1em;
    height: .5em;
    margin-right: .4em;
    display: block;
    border-radius: 100%;
    animation: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 1px red;
    }
    25% {
        box-shadow: 0 0 5px red;
    }
    50% {
        box-shadow: 0 0 10px red;
    }
    70% {
        box-shadow: 0 0 5px red;
    }
    90% {
        box-shadow: 0 0 2px red;
    }
    100% {
        box-shadow: none;
    }
}
