@import 'main';
@import 'header';
@import 'variables';
@import 'side';

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: $header-size 1fr;
    grid-template-columns: $side-panel-width 1fr;
    & header {
        grid-column:1/-1;
    }
}

.main-panel {
    width: calc(100vw - #{$side-panel-width});
    overflow-y: scroll;
}

.category-list {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    padding:0;
    margin: $margin-top-from-header 0;
    &::-webkit-scrollbar {
        display: none;
    }
    & > .category-item {
        white-space: nowrap;
        display: block;
        color:#4d4d4d;
        border: 1px solid #c7c5c5;
        background-color: #ebebeb;
        padding: $margin-top-from-header/2;
        border-radius: 20px;  
        margin-left: $margin-top-from-header;  
        & > p {
            font-size: .7em;
        }
        &:hover {
            background-color: rgb(197, 194, 194);
        }
    }
    & .active {
        background-color: #f6af44;
        border: none;
        color:white;
    }
    & :-webkit-scrollbar{
        display: none;
    }
}

.video-grid {
    margin: $margin-top-from-header;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,$video-width);
}

.small-text { 
    font-size: .5em;
}

.video-item {
    width: $video-width;
    height: $video-height;
    & .video-preview {
        width: 100%;
        height: 80%;
        position: relative;
        z-index: 0;
        & > img {
            height: 100%;
            width: 100%;
        }
        & .fade-click {
            display:flex;
            font-size: 3em;
            position:absolute;
            color:black;
            top:0;
            width: 100%;
            height: 100%;
            opacity: 0%;
            background-color: grey;
            justify-content: center;
            align-items: center;
            transition: opacity $fade-animation-time ease-in;
        }
        &:hover .fade-click  {
            opacity: 70%;
        }
    }
    & .video-info {
        display: flex;
        align-items: center;
        width: 100%;
        & > * {
            display: inline-block;
        }
        & > .video-name {
            overflow: hidden;
            flex-grow: 1;
            & > p {
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                min-width: 0;
            }
            & > *:hover {
                color:blue;
            }
        }
        & > .video-menu {
            justify-self: center;
        }
    }
}

.badge {
    height:2em;
    border-radius: 5px;
    display: inline-block;
    z-index: 0;
    padding:.4em;
    position: absolute;
    color:black;
    background-color: grey;
}

.live-badge {
    background-color: red;
    top: .2em;
    left: .2em;
    color:white;
    font-size:.5em;
}

.additional-badge {
    font-size: .5em;
    bottom: .3em;
    right: .3em;
    background-color: black;
    color:white;
    opacity: 50%;
}

footer {
    margin:2em 0;
    display:block;
    text-align: center;
}

@import 'media';