$header-padding:.7em;
$header-items-size:1.6em;
$header-size: $header-items-size + 2 * $header-padding;

$info-panel-size: 6.5em;
$info-panel-margin: .8em;

$fade-animation-time:.5s;

$margin-top-from-header:.6em;

$side-panel-width:250px;
$side-panel-width-truncated: 2.7em;

$video-width:12em;
$video-height:14em;